*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background: rgb(31, 75, 195);
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#card{
    height: 450px;
    width: 300px;
    background: white;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    
}
#stories{
    height: 120px;
    width: 100%;
    
    /* background-color: red; */
    border-bottom: 1px solid blue;
    padding: 20px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#stories::-webkit-scrollbar{
    display: none;
}
.story{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    /* background-color: red; */
    display: inline-block;
    overflow: hidden;
    margin-right: 10px;
    border: 3px solid rgb(247, 38, 188);
}
.story img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#full-screen{
    height: 100%;
    width: 100%;
    position: absolute;
    /* background-color: red; */
    display: none;
    background-position: center;
    background-size: cover;
}