*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
}
#container{
    width: 220px;
    height: 300px;
    background: white;
    border-radius: 10px;
    /* padding: 10px; */
    text-align: center;
    overflow: hidden;
}
#container img{
   height: 100%; 
   width: 100%;
   object-position: center;
   object-fit: cover;
   /* border-radius: 20px; */


}
i{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
    font-size: 60px;
    opacity: 0;
    color: white;
    transition: transform ease 0.5s;
}