*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #111;
}
#main{
    height: 100%;
    width: 100%;
   position: relative;
}
#main .elem{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 2px solid white;
    /* position: relative; */
    /* overflow: hidden; */
}
#main .elem h1{
    font-size: 40px;
}
#main .elem img{
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    height: 100px;
    position: absolute;
    /* transform: translate(-50%,-50%); */
    opacity: 0;
    width: 100px;
    transition: all ease 0.2s;
}