*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
}
#card{
    width: 220px;
    height: 300px;
    background: white;
    border-radius: 10px;
    /* padding: 10px; */
    text-align: center;
}
img{
   height: 50%; 
   object-position: center;
   object-fit: cover;
   padding: 10px;
   border-radius: 20px;

}
#card h5{
    margin: 10px;
    font-size: 25px;
    color: red;
}
button{
    padding: 8px 10px;
    background-color: rgb(153, 239, 153);
    border: none;
    margin-top: 25px;
    border-radius: 10px;
}